html, body {
    height: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.parallax-container {
    height: 200px;
}

nav {
    height: 8em;
}

footer {
    position: relative;
    z-index: 999;
}

a {
    color: #c4c9e6;
}

a:hover,
a:focus,
a:active {
    color: #b8c2f7;
    transition: all 0.5s;
}

.card {
    margin-right: 1em;
    margin-left: 1em;
}

.card .card-content {
    min-height: 19em;
}

.page-footer {
    background-color: #5b6bc1;
}

.fixed-contact {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1002;
}

.nav-wrapper {
    background-color: white;
    z-index: 1000;
}

a#nav-logo {
    color: #444;
    letter-spacing: 4px;
}

p.nav-subtext {
    color: #444;
}

nav ul a {
    color: #444;
    letter-spacing: 1px;
}

nav ul a:hover,
nav ul a:active,
nav ul a:focus {
    color: #444;
    background-color: rgb(209, 250, 228);
}

#pixel-banner {
    width: 100%;
    position: fixed;
    background-attachment: cover;
    top: 0;
}

.more-content {
    position: relative;
    width: 100% ;
    background-color: white;
    padding-top: 3em;
    padding-bottom: 3em;
    padding-left: 10em;
    padding-right: 10em;
}

.bio-p {
    font-size: 1.2em;
}

.port-header {
    text-align: center;
    font-size: 2.25em;
    letter-spacing: 3px;
}

.white-bg {
    position: relative;
    background-color: white;
    width: 100%;
    padding: 1em 10% 4em;
    z-index: 1001;
}

.chip {
    font-size: 16px;
    height: 45px;
    line-height: 45px;
    border-radius: 35px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 0 30px;
    background-color: #d1fae4;
}

.contact-icons-div {
    position: fixed;
    right: 20px;
    bottom: 30px;
    width: 70px;
    height: 300px;
    z-index: 1003;
}

.linkedin-icon {
    position: fixed;
    width: 3em;
    right: 29px;
    bottom: 90px;
    transition: all 1s;
}

.github-icon {
    position: fixed;
    width: 3em;
    right: 29px;
    bottom: 155px;
    transition: all 1s;
}

.stackoverflow-icon {
    position: fixed;
    width: 3em;
    right: 29px;
    bottom: 220px;
    transition: all 1s;
}

.hidden-icons-div {
    position: fixed;
    opacity: 0;
    transition: all 1s;
}

.shown-icons-div {
    opacity: 1;
    display: block;
    transition: all 1s;
}

.code-section-div {
    min-height: 80vh;
    width: 100%;
    margin: 4em 0;
    padding: 2em 10%;
    position: relative;
    background-color: white;
}